body {
  padding: 20px;
  margin: 0 auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 10px;
  border: 1px solid;
  border-radius: 5px;
  font-family: "Staatliches", cursive;
}

.city {
  line-height: 20pt;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.celsius-farenheiht {
  font-size: small;
}

.sun-icon {
  margin-bottom: 20px;
}

.current-location-btn {
  color: grey;
  position: fixed;
}

form {
  display: inline-flex;
}

.units,
.temperature {
  display: inline;
  clear: none;
}

.current-location-btn {
  border: black;
}

.celcius-link:hover,
.fahrenheit-link:hover {
  color: black;
}
